
.actions button{

  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  background-color: #dfdfdf;
  border-radius: 3px;
  cursor: pointer;
  transition: 0,3s

}

body{
  background-color: #cfcfcf;
}